* {
  padding: 0;
  margin: 0;
}

:root {
  --text-color: #27272e;
  --bg-color: #fff;
  --light-bg-color: #edf2f7;
  --placeholder-color: #7a828a;
  --muted-color: #7a7a9d;
  --primary: #347ae2;
  --white: #ffffff;
  --light-text-color: #505780;
  --secondary-color: #7c8db5;
  --border-radius: 8px;
  --box-shadow: 0px 2px 10px rgba(124, 141, 181, 0.12);
  --border-color: #e6edff;
  --table-hover: rgba(52, 122, 226, 0.1);
  --danger: #f16063;
}

a {
  color: black;
  text-decoration: none;
}

body {
  font-family: "Montserrat","Arial";
  word-wrap: break-word;
  background-color: #f4f7fd;
  background-repeat: repeat;
}

.nav-link {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently*/
}

.my_header {
  /*background-color: #000421;*/
  background-color: #008dff;
  padding: 16px 24px;
}

.my_header_dark {
  /*background-color: #000421;*/
  background-color: white;
  padding: 8px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex2 svg {
  width: 24px;
  height: auto;
}

.flex2 svg path {
  fill: var(--secondary-color);
}

.flex2 span {
  margin-left: 4px;
}

.maqola {
  border-radius: 20px;
  padding: 20px;
  background-color: var(--bg-color);
}

.maqola h3 a {
  color: var(--text-color);
  font-size: 22px;
}

.maqola .text-desc {
  font-size: 14px;
  color: var(--secondary-color);
}

.maqola span {
  font-size: 14px;
  color: var(--secondary-color);
}

.title_2 {
  color: var(--primary);
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 24px;
}

.subjects h4 {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color: var(--text-color);
  border-radius: 16px;
  background-color: var(--bg-color);
  padding: 16px 0px;
}

.picture_links img {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 16px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.picture_links img:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.hero__big-slider--wrapper .swiper-container {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.hero__big-slider--wrapper .swiper-container-pointer-events {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.hero__big-slider--wrapper .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.hero__big-slider--wrapper .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.hero__big-slider--wrapper .hero-big-ad {
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  outline: 0;
}

.hero__big-slider--wrapper .hero-big-ad img {
  vertical-align: middle;
  border-style: none;
}

.hero__big-slider--wrapper .hero-big-ad .big-ad-photo {
  width: 100%;
  border-radius: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.partners {
  margin-bottom: 16px;
}

.partners article, .partners aside, .partners figcaption, .partners figure, .partners footer, .partners header, .partners hgroup, .partners main, .partners nav, .partners section {
  display: block;
}

.partners .partners__list {
  background-color: #fff;
  border-radius: 20px;
  padding: 15px 50px;
  -webkit-box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);
          box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);
  box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);
}

.partners .partners__list .partner__item {
  width: 80px;
  height: 90px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  outline: 0;
}

.partners .partners__list .partner__item .partner__img {
  height: 100%;
  width: 140px;
}

.partners .swiper-container-pointer-events {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.partners .swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0 6px;
  z-index: 1;
}

.partners .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.partners .features .features__list {
  background-color: #fff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px 50px;
  box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);
  -webkit-box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);
}

.partners .features .features__list .features__list .feature__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.partners .features .features__list .features__list .feature__item .feature__img {
  width: 50px;
}

.partners .features .features__list .features__list .feature__item .feature__text {
  margin-left: 24px;
}

.partners .features .features__list .features__list .feature__item .feature__text h5 {
  font-size: 16px;
  font-weight: 500;
  color: #282830;
  line-height: 19px;
  margin-bottom: 4px;
}

.partners .features .features__list .features__list .feature__item .feature__text p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #858997;
}

.a__aside {
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);
  box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);
}

.a__aside-item:not(:last-child) {
  border-bottom: 1px solid #eeeff3;
}

.a__aside-item {
  padding: 16px 20px;
}

.a__aside .a__aside-data h6 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
  font-size: 16px;
  color: #000;
}

.a__aside .a__aside-data p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  font-size: 14px;
  color: #858997;
  margin-bottom: 0;
}

.a__aside-img {
  width: 60px;
  margin-right: 8px;
}

.a__aside .a__aside-body .a__aside .a__aside-item {
  padding: 16px 20px;
}

.a__aside .a__aside-body a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.sect {
  margin-bottom: 40px;
}

.sidebarblock {
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
}

.sidebarblock ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.sidebarblock ul li {
  background-color: #43464b;
  padding: 0;
  margin-bottom: 5px;
  color: white;
}

.sidebarblock ul li:hover {
  color: #3058CA;
}

.sidebarblock .title {
  color: var(--text-color);
  padding: 8px 0;
}

.links {
  padding: 5px;
  color: white;
  text-decoration: none;
  word-wrap: break-word;
}

.mainscreen {
  display: block;
  width: auto;
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.row {
  margin-top: 20px;
}

.title {
  font-size: 22px;
  font-weight: bold;
  color: #27272e;
  margin-bottom: 10px;
}

.popular a {
  color: var(--primary);
  margin-bottom: 8px;
  width: auto;
  height: auto;
  text-decoration: none;
  display: block;
  padding: 10px;
  word-wrap: break-word;
  background-color: var(--bg-color);
  -webkit-box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);
          box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);
  border-radius: 20px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.popular a:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.popular .maqola {
  background-color: transparent;
  padding: 12px;
  border: none;
}

.popular .maqola h3 p {
  color: var(--primary);
  font-size: 20px;
}

.popular .maqola .text-desc {
  font-size: 14px;
  color: var(--secondary-color);
}

.popular .maqola span {
  font-size: 14px;
  color: var(--placeholder-color);
}

.img {
  margin-top: 10px;
}

.index img {
  display: inline-block;
  margin-right: 5px;
}

.my_footer {
  margin-top: 5px;
  padding-top: 42px;
  padding-bottom: 27px;
  background-color: #008dff;
  color: white;
}

.my_footer p {
  font-weight: bold;
}

.my_footer .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
}

.my_footer .footer__links a {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  line-height: 19px;
  margin-bottom: 12px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.my_footer .footer__links a:hover {
  text-decoration: none;
  color: #fff;
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}

.my_footer .footer__links strong {
  color: #fff;
  margin-bottom: 24px;
  font-size: 18px;
  color: #fff;
  line-height: 24px;
}

.my_footer .footer__links .address__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.my_footer .footer__links .address__link svg {
  margin-right: 4px;
}

.my_footer .footer__links .address__link svg path {
  fill: var(--light-bg-color);
}

.nav-link {
  font-weight: 600;
}

.navbar-brand {
  font-weight: bold;
}

.footer_data {
  font-size: 15px;
  margin-bottom: 5px;
}

.footer_data a {
  color: white;
}

.pre_footer {
  background-color: black;
  color: white;
}

.developers {
  text-decoration: none;
  font-size: 12px;
  color: white;
  float: right;
}

.developers:hover {
  color: #0D6EFD;
}

.last_posts_div {
  margin-bottom: 40px;
}

.last_posts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.last_posts__img {
  width: 30%;
  padding: 20px 24px;
  background-color: white;
  -webkit-box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);
          box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

.last_posts__img:hover + .last_posts__content .last_posts__title {
  color: #003BB3;
}

.last_posts__img img {
  -webkit-transition: 1s;
  transition: 1s;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 12px;
}

.last_posts__content {
  padding: 24px 36px;
  width: 70%;
}

.last_posts__title {
  font-size: 24px;
  font-weight: bold;
  color: var(--light-text-color);
  margin-bottom: 16px;
}

.last_posts__title:hover {
  color: #003BB3;
}

.last_posts__description p {
  font-size: 16px;
  color: var(--secondary-color);
  text-align: justify;
  margin-bottom: 8px;
}

.last_posts__description .count span {
  color: var(--light-text-color);
}

.last_posts__description .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.last_posts__description .links-item {
  padding: 4px 8px;
  border-radius: 4px;
  display: inline-block;
  margin: 4px;
}

.last_posts__description .links-item img {
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.last_posts__big .last_posts__title:hover {
  color: #003BB3 !important;
}

.last_posts__big .last_posts:hover .last_posts__title {
  color: #000000;
}

.gallery-item .news-meta {
  background-image: none;
  padding-left: 0;
}

.gallery-item .news-meta span {
  color: #000;
  font-weight: 400;
}

.news-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 24px;
}

.news-meta svg {
  width: 24px;
  height: 24px;
}

.news-meta svg path {
  fill: var(--secondary-color);
}

.news-meta-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-meta span {
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
  font-weight: 500;
  padding-left: 4px;
  font-size: 14px;
}

.news-meta2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 24px;
  margin-top: 8px;
}

.news-meta2 svg {
  width: 24px;
  height: 24px;
}

.news-meta2 svg path {
  fill: var(--secondary-color);
}

.news-meta2-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-meta2-item:first-child {
  margin-right: 8px;
}

.news-meta2 span {
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
  font-weight: 500;
  padding-left: 4px;
  font-size: 14px;
}

.shadow-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  position: absolute;
  z-index: 10;
}

.overlay {
  z-index: 5;
  position: relative;
  width: 100%;
  height: 100%;
}

.mainscreen_div {
  color: white;
  opacity: 1;
  z-index: 100;
  position: relative;
  text-align: center;
  top: 150px;
}

.mainscreen_div div {
  max-width: 700px;
  margin: 0px auto;
}

.all {
  float: right;
  padding: 8px 16px;
  border-radius: 10px;
  color: #505780;
  background-color: #e6edff;
  font-weight: bold;
}

.form {
  overflow: hidden;
  left: 0;
  margin: 0px 0px 20px 0px;
  display: block;
  max-width: 590px;
}

.my_input {
  background: #b1b1b1;
  max-width: 590px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 0;
  font-size: 12px;
  color: white;
  padding: 0px 15px;
  margin: 0 0 16px 0;
  outline: none;
  border-radius: 5px;
}

textarea {
  background: #b1b1b1;
  max-width: 590px;
  width: 100%;
  height: 200px;
  max-height: 200px;
  padding: 15px;
  margin: 0 0 16px 0;
  outline: none;
  overflow: auto;
  resize: none;
  font-size: 12px;
  color: white;
  border-radius: 5px;
}

.submitbtn {
  padding: 0;
  background: #0D6EFD;
  overflow: hidden;
  line-height: 40px;
  cursor: pointer;
  outline: none;
  text-align: center;
  font-size: 14px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

.submitbtn:hover {
  background: #0c7a3a;
  color: white;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.contacts {
  margin-bottom: 20px;
}

.contacts a {
  color: black;
}

.custom-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
}

.custom-nav .form-cover {
  display: block;
  float: right;
}

.logo {
  display: inline-block;
}

.nav-custom-links {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 4px;
}

.nav-custom-links li:first-child a {
  font-weight: bold;
}

.nav-custom-item a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding-right: 8px;
}

.main_editor {
  text-align: center;
  margin-bottom: 20px;
}

.main_editor div {
  margin-bottom: 10px;
  text-align: center;
  height: 200px;
}

.main_editor div img {
  display: block;
  margin: 0px auto;
  height: 100%;
  border: 1px solid #43464b;
}

.main_editor span {
  color: black;
}

.table {
  overflow-y: scroll;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 12px;
  color: gray;
}

td b, th b {
  color: black;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.docs a {
  font-size: 20px;
}

.axborot_text {
  font-weight: 600;
}

.my_btn {
  padding: 5px;
  background: #0D6EFD;
  line-height: 30px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  text-align: center;
  font-size: 14px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

.my_btn:hover {
  background: #0c7a3a;
  color: white;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.single-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 0;
}

.single-layout__left-center {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.single-layout__left-center .sticky-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.single-layout__left {
  width: 240px;
  margin-right: 2px;
  overflow: hidden;
}

.single-layout__center {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}

.single-layout__center.slc {
  width: calc(100% - 540px);
}

.single-layout__right {
  width: 300px;
  overflow: hidden;
}

.single-header {
  padding: 0 20px 20px 20px;
  position: relative;
}

.single-header::after {
  width: 1px;
  height: calc(100% - 25px);
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
}

.single-header__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  color: #000000;
  margin-top: 10px;
}

.single-header__meta .comments {
  color: #17206A;
}

.single-header__meta .date, .single-header__meta .view, .single-header__meta .comments {
  margin-right: 15px;
  position: relative;
  padding-left: 20px;
}

.single-header__meta .date::before, .single-header__meta .view::before, .single-header__meta .comments::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 17px;
  height: 15px;
}

.single-header__meta .date::before {
  background-image: url("../img/calendar-check.svg");
}

.single-header__meta .view::before {
  background-image: url("../img/view.svg");
}

.single-header__meta .comments::before {
  background-image: url("../img/message.svg");
}

.single-header__title {
  font-size: 26px;
  font-weight: bold;
  line-height: 32px;
  color: #000000;
}

.single-content {
  font-size: 19px;
  line-height: 31px;
  color: #000000;
  padding: 0 20px;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 20px;
}

.single-content span {
  font-size: 22px;
}

.single-content .main-img {
  margin: 10px 15%;
}

.single-content .main-img img {
  width: 100%;
  height: auto;
  display: block;
}

.single-content .main-img .main-img__caption {
  opacity: 0.56;
  color: #222222;
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.06px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.single-content::after {
  width: calc(100% - 40px);
  height: 1px;
  position: absolute;
  left: 20px;
  bottom: 0;
  content: "";
  opacity: .6;
}

.single-content p {
  font-weight: 500;
}

.single-content p:last-child {
  margin-bottom: 0;
}

.single-content i {
  font-style: italic;
}

.single-content img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

.about {
  margin-bottom: 10px;
}

.about span {
  color: green;
}

.send_file {
  text-align: center;
  border: 1px solid black;
}

.content_container {
  background-color: transparent;
  padding-top: 10px;
}

.backstretch {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -99999;
  top: 0;
}

.backstretch img {
  height: 100%;
  width: 100%;
}

.container-meta {
  padding: 0 !important;
}

.qodef-normal-space .qodef-outer-space .qodef-item-space {
  padding: 0 15px;
  margin: 0 0 30px;
}

@media (max-width: 991px) {
  .custom-nav .form-cover {
    width: 100%;
  }
  .mainscreen_div div {
    font-size: 12px;
    max-width: 600px;
  }
  .last_posts__description {
    font-size: 12px;
  }
  .last_posts__title {
    font-size: 18px;
  }
  .main_editor div {
    height: 130px;
  }
  .main_editor div img {
    display: block;
    margin: 0px auto;
    height: 100%;
  }
  .main_editor a {
    color: white;
    font-size: 12px;
  }
  .title {
    font-size: 16px;
  }
  .all {
    font-size: 12px;
  }
  .links {
    font-size: 12px;
  }
  .popular a {
    font-size: 12px;
  }
  .footer_titles {
    font-size: 14px;
  }
  .footer_data {
    font-size: 12px;
  }
  .single-header__title {
    font-size: 22px;
  }
  .single-content span {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .last_posts__description .links-item img {
    width: 64px;
  }
  .last_posts__img {
    width: 60%;
    padding: 20px 12px;
  }
  .last_posts__description p {
    font-size: 12px;
  }
  .news-meta span {
    font-size: 12px;
  }
  .last_posts__content {
    padding: 24px 20px;
    width: 70%;
  }
  .custom-nav .form-cover {
    width: 100%;
  }
  .mainscreen_div {
    color: white;
    opacity: 1;
    z-index: 100;
    position: relative;
    text-align: center;
    top: 150px;
  }
  .mainscreen_div div {
    font-size: 10px;
    max-width: 500px;
    margin: 0px auto;
  }
  .last_posts__description {
    font-size: 10px;
  }
  .last_posts__title {
    font-size: 12px;
  }
  td, th {
    font-size: 10px;
  }
  .single-header__title {
    font-size: 18px;
  }
  .single-content span {
    font-size: 14px;
  }
  .card_price span {
    text-align: left;
    float: left;
  }
  .card_about span {
    color: black;
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .last_posts__description {
    display: none;
  }
  .last_posts__content {
    padding: 24px 20px;
    width: 70%;
  }
  .last_posts__img {
    width: 45%;
    padding: 20px 16px;
  }
  .my_footer .footer__links a {
    font-size: 12px;
  }
  .my_footer .footer__links strong {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .my_footer {
    margin-top: 5px;
    padding-top: 16px;
    padding-bottom: 20px;
  }
  .custom-nav .form-cover {
    width: 100%;
  }
  .nav-custom-item a {
    font-size: 14px;
  }
  .partners .partners__list .partner__item .partner__img {
    width: 100px;
  }
  .title_2 {
    font-size: 16px;
  }
  .subjects h4 {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */