* {
    padding: 0;
    margin: 0;
}

:root {
    --text-color: #27272e;
    --bg-color: #fff;
    --light-bg-color: #edf2f7;
    --placeholder-color: #7a828a;
    --muted-color: #7a7a9d;
    --primary: #347ae2;
    --white: #ffffff;
    --light-text-color: #505780;
    --secondary-color: #7c8db5;
    --border-radius: 8px;
    --box-shadow: 0px 2px 10px rgba(124, 141, 181, 0.12);
    --border-color: #e6edff;
    --table-hover: rgba(52, 122, 226, 0.1);
    --danger: #f16063;
    --base-color: #07BBCE;
}


a {
    color: black;
    text-decoration: none;
}

body {
    font-family: "Montserrat", "Arial";
    word-wrap: break-word;
    // background-image: url("../img/bg.jpg");
    background-color: #f4f7fd;
    background-repeat: repeat;
}

.nav-link {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently*/
}

.my_header {
    /*background-color: #000421;*/
    background-image: linear-gradient(to right, var(--base-color) , var(--primary));
    // background-color: var(--base-color);
    padding: 16px 24px;
}

.my_header_dark {
    /*background-color: #000421;*/
    background-color: white;
    padding: 8px;
}


.flex {
    display: flex;
    justify-content: space-between;
}

.flex2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    svg {
        width: 24px;
        height: auto;

        path {
            fill: white;
        }
    }

    span {
        margin-left: 4px;
    }
}

.text {
    font-size: 20px;
    font-weight: bold;

    &-desc {
        font-size: 14px;
        color: var(--secondary-color);
        font-weight: 500;
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    p {
        display: block;
        width: 100%;
        margin-bottom: 0 !important;
    }

    &-item {
        display: flex;
        flex-wrap: nowrap;

        a {
            color: var(--muted-color);
            border: 1px solid var(--secondary-color);
            border-radius: 10px;
            padding: 0px 24px;
            font-size: 14px !important;
        }

        a:hover {
            animation: border_color 0.5s;
            border: 1px solid var(--base-color);
            color: var(--base-color);



        }

        margin: 8px 4px;
    }
}

iframe {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);

}

.card {
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;

    ul {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    &-img-top {
        border-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        border: none;

    }

    &-text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        text-decoration: none;
    }
}

@keyframes border_color {
    0% {
        border: 1px solid var(--secondary-color);
    }

    100% {
        border: 1px solid var(--base-color);
        color: var(--base-color);
    }
}

.maqola {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: transparent;
    padding: 12px;
    border: none;
    border-radius: 20px;
    // border: 1px solid var(--border-color);
    padding: 20px;
    margin-bottom: 8px;
    background-color: white;
    height: 270px;

    .flex{
        flex-direction: row;
        align-self: flex-end;
        width: 100%;
        margin-top: auto;
        span{
            color: #1d9ad8;
        }
        .flex2 {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        
            svg {
                width: 24px;
                height: auto;
        
                path {
                    fill: #1d9ad8;

                }
            }
        
            span {
                margin-left: 4px;
            }
        }
    }

    h3 {
        margin-bottom: 0;
        overflow: hidden;
        text-overflow: ellipsis;
            p {
                color: white;
                margin-bottom: 0.5rem;
                font-size: 20px;
            }
            a {
                color: #1d9ad8;
                font-size: 22px;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
    
            }
    }

    p{
        text-overflow: ellipsis;
        // margin-bottom: 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
    }

    .text {
        margin-bottom: 0;
        &-desc {
            font-size: 14px;
            color: #858997;
            margin-bottom: 12px;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
        }
    }
}

.maqola2{
    height: 250px!important;
}



.title_2 {
    color: black;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 24px;
}


.subjects {
    h4 {
        text-align: center;
        font-weight: 400;
        font-size: 20px;
        color: #1d9ad8;
        border-radius: 16px;
        // box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);
        background-color: var(--bg-color);
        padding: 16px 0px;
    }




}

.picture_links {
    img {

        width: 100%;
        border-radius: 16px;
        margin-bottom: 16px;
        transition: all .3s ease;

    }

    img:hover {
        transform: scale(1.03);
    }
}

.main-swiper{
    margin-top: 32px;
    width: 100%;
    height: 600px;
    border-radius: 20px;
    .swiper-slide{
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

.hero__big-slider--wrapper {
    .swiper-container {
        height: 400px;

        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: 1;

        &-pointer-events {
            touch-action: pan-y;
        }
    }

    .swiper-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        transition-property: transform;
        box-sizing: content-box;
    }

    .swiper-slide {
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        position: relative;
        transition-property: transform;
    }

    .hero-big-ad {
        overflow: hidden;
        position: relative;
        border-radius: 20px;
        outline: 0;

        img {
            vertical-align: middle;
            border-style: none;
        }

        .big-ad-photo {
            width: 100%;
            border-radius: 20px;
            height: fit-content;
        }
    }
}

$dark-gray: rgba(black, 0.8);
$gray: rgba(black, 0.6);
$light-gray: rgba(black, 0.4);
$lighter-gray: rgba(black, 0.2);
$accent: #4285F4;

.search{
    margin: 36px 0;
    .results{
        margin: 24px 16px;
        font-size: 20px;
        color: var(--light-text-color);
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: rgba(black, 0.8);
    width: 100%;
    height: 100%;
}

.page-item:first-child{
    a{
        border-bottom-left-radius: 12px!important;
        border-top-left-radius: 12px!important;
    }
}


.page-item:last-child{
    a{
        border-bottom-right-radius: 12px!important;
        border-top-right-radius: 12px!important;
    }
}
  
.form {
    z-index: 15;
    position: relative;
    background: white;
    border-radius: 20px;
    max-width: 100%!important;
    box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);

    box-sizing: border-box;
    margin: 32px auto 20px!important;
    overflow: hidden;
    ::-webkit-file-upload-button {
        background: #0d6efd;
        color: white;
        border: none;
        border-radius: 10px;
        
      }
    
  
    &-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 0 20px;
  
      &:last-child {
        margin: 0;
      }
  
      label {
        display: block;
        margin: 0 0 10px;
        color: $gray;
        font-size: 12px;
        font-weight: 500;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: .2em;
  
        .two & {
          color: white;
        }
      }
      textarea {
        outline: none;
        display: block;
        background: rgba(black, 0.1);
        width: 100%;
        border: 0;
        border-radius: 12px;
        box-sizing: border-box;
        padding: 12px 20px;
        color: $gray;
        font-family: inherit;
        font-size: inherit;
        font-weight: 500;
        line-height: inherit;
        transition: 0.3s ease;
  
      }
  
      input {
        outline: none;
        display: block;
        background: rgba(black, 0.1);
        width: 100%;
        border: 0;
        border-radius: 12px;
        box-sizing: border-box;
        padding: 12px 20px;
        color: $gray;
        font-family: inherit;
        font-size: inherit;
        font-weight: 500;
        line-height: inherit;
        transition: 0.3s ease;
        
  
        &:focus {
          color: $dark-gray;
        }
  
        .two & {
          color: white;
  
          &:focus {
            color: white;
          }
        }
      }
  
      button {
        outline: none;
        background: #0d6efd;
        width: 100%;
        border: 0;
        border-radius: 12px;
        padding: 12px 20px;
        color: white;
        font-family: inherit;
        font-size: inherit;
        font-weight: 500;
        line-height: inherit;
        text-transform: uppercase;
        cursor: pointer;
  
        .two & {
          background: white;
          color: $accent;
        }
      }
  
  
      .form-recovery {
        color: $accent;
        font-size: 12px;
        text-decoration: none;
      }
    }
  
    // Panel
    &-panel {
      padding: 60px 40px;
      box-sizing: border-box;
  
      // Panel One
      &.one {
        &:before {
          @extend .overlay;
  
          content: '';
          display: block;
          opacity: 0;
          visibility: hidden;
          transition: 0.3s ease;
        }
  
        &.hidden {
          &:before {
            display: block;
            opacity: 1;
            visibility: visible;
          }
        }
      }
  
      // Panel Two
      
    }
  
    // Header
    &-header {
      margin: 0 0 40px;
  
      h1 {
        padding: 4px 0;
        color: $accent;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
  
        .two & {
          position: relative;
          z-index: 40;
          color: white;
        }
      }
    }
  
    
  }




.switch{
    width: 100%;
    border-radius: 16px;
    display: flex;
    flex-wrap: nowrap;
    height: 36px;
    align-items: center;
    line-height: 36px;
    margin-bottom: 30px; 
    &-item{
        height: inherit;
        border-radius: 16px;
        line-height: inherit;
        width: 100%;
        color: black;
        text-align: center;
    }
    &-item:hover{
        cursor: pointer;
    }
    &-active{
        background-color: #008dff;
        color: white;
    }
}

.partners {
    margin-bottom: 16px;

    article,
    aside,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    nav,
    section {
        display: block;
    }

    .partners__list {
        background-color: #fff;
        border-radius: 20px;
        padding: 15px 50px;
        box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);

        .partner__item {
            width: 80px;
            height: 90px !important;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            outline: 0;

            .partner__img {
                height: 100%;
                width: 140px
            }
        }
    }

    .swiper-container-pointer-events {
        touch-action: pan-y;
    }

    .swiper-container {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0 6px;
        z-index: 1;
    }

    .swiper-slide {
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        position: relative;
        transition-property: transform;
    }

    .features {
        .features__list {
            background-color: #fff;
            border-radius: 20px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding: 25px 50px;
            box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);
            -webkit-box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);

            .features__list .feature__item {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;

                .feature__img {
                    width: 50px
                }

                .feature__text {
                    margin-left: 24px;

                    h5 {
                        font-size: 16px;
                        font-weight: 500;
                        color: #282830;
                        line-height: 19px;
                        margin-bottom: 4px
                    }

                    p {
                        margin-bottom: 0;
                        font-size: 14px;
                        font-weight: normal;
                        line-height: 21px;
                        color: #858997
                    }
                }
            }
        }

    }

}

.a__aside {
    background-color: #fff;
    border-radius: 20px;
    -webkit-box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);
    box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);

    &-item:not(:last-child) {
        border-bottom: 1px solid #eeeff3;
    }

    &-item {
        padding: 16px 20px;
        transition: all .3s ease;

    }

    &-item:hover {
        transform: scale(1.03);

    }

    .a__aside-data {
        h6 {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 0;
            font-size: 16px;
            color: #000;
        }

        p {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: normal;
            font-size: 14px;
            color: #858997;
            margin-bottom: 0;
        }
    }

    &-img {
        width: 60px;
        margin-right: 8px;
    }

    .a__aside-body {
        .a__aside .a__aside-item {
            padding: 16px 20px;
        }

        a {
            color: #007bff;
            text-decoration: none;
            background-color: transparent;
        }
    }
}

.sect {
    margin-bottom: 40px;
}


.sidebarblock {
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 16px;

    // border: 1px solid var(--border-color);
    ul {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;

        li {
            background-color: #43464b;
            padding: 0;
            margin-bottom: 5px;
            color: white;
        }

        li:hover {
            color: #3058CA;
        }
    }

    .title {
        color: var(--text-color);
        padding: 8px 0;
    }
}

.links {
    padding: 5px;
    color: white;
    text-decoration: none;
    word-wrap: break-word;

}

.mainscreen {
    display: block;
    width: auto;
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.row {
    margin-top: 20px;
}


.title {
    font-size: 22px;
    font-weight: bold;
    color: #27272e;
    margin-bottom: 10px;
}

.popular {
    a {
        color: white;
        margin-bottom: 8px;
        width: auto;
        height: auto;
        text-decoration: none;
        display: block;
        padding: 8px;
        word-wrap: break-word;
        background-color: var(--primary);
        box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);
        border-radius: 20px;
        transition: all .3s ease;
        height: 270px;
    }

    a:hover {
        transform: scale(1.03);
    }

    .maqola {   
        display: flex;
        height: 100%;
        flex-direction: column;
        background-color: transparent;
        padding: 12px;
        border: none;
        .flex{
            flex-direction: row;
            align-self: flex-end;
            width: 100%;
            margin-top: auto;
            .flex2 {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
            
                svg {
                    width: 24px;
                    height: auto;
            
                    path {
                        fill: white;
                    }
                }
            
                span {
                    margin-left: 4px;
                }
            }
        }

        h3 {
            margin-bottom: 0;
            p {
                color: white;
                margin-bottom: 0.5rem;
                font-size: 20px;
            }
        }
        p{
            text-overflow: ellipsis;
            // margin-bottom: 0;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
        }

        .text {
            margin-bottom: 0;
            &-desc {
                font-size: 14px;
                color: #cfddff;
                margin-bottom: 12px;
                -webkit-line-clamp: 2;

                text-overflow: ellipsis;
            }
        }

        span {
            font-size: 14px;
            color: white;
        }
        
    }

}

.img {
    margin-top: 10px;
}

.index {
    img {
        display: inline-block;
        margin-right: 5px;
    }
}

.single-content2{
    iframe{
        width: 100%;
        height: 600px;
        margin-bottom: 20px;
    }
}

.my_footer {
    margin-top: 5px;
    padding-top: 42px;
    padding-bottom: 27px;
    // background-image: var(--base-color);
    background-image: linear-gradient(to right, var(--base-color) , var(--primary));

    color: white;

    p {
        font-weight: bold;
    }

    .footer__links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: left;

        a {
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            line-height: 19px;
            margin-bottom: 12px;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
        }

        a:hover {
            text-decoration: none;
            color: #fff;
            -webkit-transform: translateX(10px);
            transform: translateX(10px)
        }

        strong {
            color: #fff;
            margin-bottom: 24px;
            font-size: 18px;
            color: #fff;
            line-height: 24px;
        }

        .address__link {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            svg {
                path {
                    fill: var(--light-bg-color);
                }

                margin-right: 4px;
            }
        }
    }
}

.nav-link {
    font-weight: 600;
}

.navbar-brand {
    font-weight: bold;
}


.footer_data {
    font-size: 15px;
    margin-bottom: 5px;

    a {
        color: white;
    }
}

.pre_footer {
    background-color: black;
    color: white;

}

.developers {
    text-decoration: none;
    font-size: 12px;
    color: white;
    float: right;
}

.developers:hover {
    color: #0D6EFD;
}

.last_posts_div {
    margin-bottom: 40px;
}

.last_posts {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
}



.last_posts__img {
    width: 30%;
    padding: 20px 24px;
    background-color: white;
    box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);
    border-radius: 16px;
    // padding-bottom: 34%;
    position: relative;
    overflow: hidden;
}


.last_posts__img img {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    // position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 12px;
}

.last_posts__content {
    padding: 24px 36px;
    width: 70%;
}

.last_posts__title {
    font-size: 24px;
    font-weight: bold;
    color: var(--light-text-color);
    margin-bottom: 16px;
}


.last_posts__description {
    p {
        font-size: 16px;
        color: var(--secondary-color);
        text-align: justify;
        margin-bottom: 8px;
    }

    .count {
        span {
            color: var(--light-text-color);
        }
    }

    .links {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &-item {
            padding: 4px 8px;
            border-radius: 4px;
            // border: 1px solid var(--border-color);
            display: inline-block;
            margin: 4px;

            img {
                width: 100px;
                object-fit: contain;
            }

        }
    }
}



.news{
    margin-bottom: 24px;
    &-content{
        display: flex;
        justify-content: left;
        flex-wrap: nowrap;
        
        .news-image{
            float: left;
            border: 1px solid black;
            img{
                height: 100%;
                width: 150px;
            }
        }
        .news-about{
            padding: 16px 16px 16px 16px;

            .date{
                display: block;
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                margin-bottom: 10px;
                svg{
                    path{
                        fill: var(--muted-color)
                    }
                }
                span{
                    margin-left: 8px;
                    color: var(--muted-color);
                }
            }
            .news-title{
                font-size: 20px;
                font-weight: 600;
                color: var(--light-text-color);
            }
            .news-desc{
                font-size: 16px;
                font-weight: 500;
                color: var(--placeholder-color);
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }
}
.gallery-item .news-meta {
    background-image: none;
    padding-left: 0;
}

.gallery-item .news-meta span {
    color: #000;
    font-weight: 400;
}

.news-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 24px;

    svg {
        width: 24px;
        height: 24px;

        path {
            fill: var(--secondary-color);
        }
    }

    &-item {
        display: flex;
        align-items: center;
    }

    span {
        color: var(--secondary-color);
        margin: 0;
        padding: 0;
        font-weight: 500;
        padding-left: 4px;
        font-size: 14px;

    }

}

.news-meta2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    flex-wrap: wrap;
    margin-bottom: 24px;
    margin-top: 8px;

    svg {
        width: 24px;
        height: 24px;

        path {
            fill: var(--secondary-color);
        }
    }

    &-item:nth-child(3) {
        svg {
            width: 21px;
            height: 21px;
        }

    }


    &-item {
        display: flex;
        align-items: center;
        margin-right: 8px;
    }

    span {
        color: var(--secondary-color);
        margin: 0;
        padding: 0;
        font-weight: 500;
        padding-left: 4px;
        font-size: 14px;
    }

}






.shadow-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    z-index: 10;
}

.overlay {
    z-index: 5;
    position: relative;
    width: 100%;
    height: 100%;
}

.mainscreen_div {
    color: white;
    opacity: 1;
    z-index: 100;
    position: relative;
    text-align: center;
    top: 150px;

    div {
        max-width: 700px;
        margin: 0px auto;
    }
}

.all {
    float: right;
    padding: 8px 16px;
    border-radius: 10px;
    color: #505780;
    background-color: #e6edff;
    font-weight: bold;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.all:hover {
    -webkit-transform: translateX(10px);
    transform: translateX(10px)
}

.form {
    overflow: hidden;
    left: 0;
    margin: 0px 0px 20px 0px;
    display: block;
    max-width: 590px;
}

.my_input {
    background: #b1b1b1;
    max-width: 590px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 0;
    font-size: 12px;
    color: white;
    padding: 0px 15px;
    margin: 0 0 16px 0;
    outline: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}



.submitbtn {
    padding: 0;
    background: #0D6EFD;
    overflow: hidden;
    line-height: 40px;
    cursor: pointer;
    outline: none;
    text-align: center;
    font-size: 14px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.submitbtn:hover {
    background: #0c7a3a;
    color: white;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.contacts {
    margin-bottom: 20px;

    a {
        color: black;
    }
}

.custom-nav {
    padding: 8px;

    &-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        .custom-nav-item{
            padding: 4px;
            
            .nav-item-item:nth-child(2){
                p{
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    margin-left: 8px;
                    overflow: hidden;
                }
            }
            .nav-item-item{
                p{

                    margin-bottom: 0;
                }
            }
            
        }
        .custom-nav-item:first-child{
            display: flex;
            flex-direction: row;
            .nav-item-item:first-child{
                p{
                    font-weight: 600;
                    white-space: nowrap;
                }
            }
        }
        
    }
    .form-cover {
        display: block;
        float: right;
        min-width: 300px;
        
        input{
            -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            z-index: 2;
            padding: 5px 10px;
            color: #008dff;
            line-height: 16px;
            border: 2px solid #008dff;
            border-radius: 10px;
            font-size: 14px;
        }
        button{
            margin-left: -8px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            border: 2px solid #008dff;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            font-size: 16px;
            border-radius: 0 10px 10px 0;
            -webkit-transition: all .2s ease;
            transition: all .2s ease;

    }

}


}

.logo {
    display: inline-block;
}

.nav-custom-links {
    align-items: center;
    list-style: none;
    display: flex;
    padding-left: 4px;

    li:first-child a {
        font-weight: bold;
    }
}

.nav-custom-item {
    a {
        // vertical-align: middle;
        display: inline-block;
        text-decoration: none;
        color: black;
        padding-right: 8px;

    }
}





.main_editor {
    text-align: center;
    margin-bottom: 20px;

    div {
        margin-bottom: 10px;
        text-align: center;
        height: 200px;

        img {
            display: block;
            margin: 0px auto;
            height: 100%;
            border: 1px solid #43464b;
        }
    }

    span {
        color: black;
    }
}

.table {
    overflow-y: scroll;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 12px;
    color: gray;

    b {
        color: black;
    }
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.docs {
    a {
        font-size: 20px;
    }
}

.axborot_text {
    font-weight: 600;
}




.my_btn {
    padding: 5px;
    background: #0D6EFD;
    line-height: 30px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    text-align: center;
    font-size: 14px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.my_btn:hover {
    background: #0c7a3a;
    color: white;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}


.single-layout {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 13px 0;
}

.single-layout__left-center {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.single-layout__left-center .sticky-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
}

.single-layout__left {
    width: 240px;
    margin-right: 2px;
    overflow: hidden;
}

.single-layout__center {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}

.single-layout__center.slc {
    width: -webkit-calc(100% - 540px);
    width: calc(100% - 540px);
}

.single-layout__right {
    width: 300px;
    overflow: hidden;
}

.single-header {
    padding: 0 20px 20px 20px;
    position: relative;
}

.single-header::after {
    width: 1px;
    height: -webkit-calc(100% - 25px);
    height: calc(100% - 25px);
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
}

.single-header__meta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    color: #000000;
    margin-top: 10px;
}

.single-header__meta .comments {
    color: #17206A;
}

.single-header__meta .date,
.single-header__meta .view,
.single-header__meta .comments {
    margin-right: 15px;
    position: relative;
    padding-left: 20px;
}

.single-header__meta .date::before,
.single-header__meta .view::before,
.single-header__meta .comments::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 17px;
    height: 15px;
}

.single-header__meta .date::before {
    background-image: url("../img/calendar-check.svg");
}

.single-header__meta .view::before {
    background-image: url("../img/view.svg");
}

.single-header__meta .comments::before {
    background-image: url("../img/message.svg");
}

.single-header__title {
    font-size: 26px;
    font-weight: bold;
    line-height: 32px;
    color: #000000;
}

.button-cover {
    display: flex;
    margin-bottom: 8px;
    flex-wrap: nowrap;

    button:first-child {
        margin-right: 12px;
    }

    button {
        border-radius: 12px;
        background-color: #0d6efd;
        color: var(--white);
        padding: 8px 20px;
        margin-bottom: 8px;
        min-width: 160px;
    }
}

.btn {
    transition: all .3s ease;
}

.btn:hover {
    transform: scale(1.03);
}

.single-content {
    font-size: 19px;
    line-height: 31px;
    color: #000000;
    padding: 0 20px;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 20px;

    span {
        font-size: 22px;
    }

    .main-img {
        img {
            width: 100%;
            height: auto;
            display: block;
        }

        .main-img__caption {
            opacity: 0.56;
            color: #222222;
            font-family: "Montserrat";
            font-size: 12px;
            line-height: 16px;
            letter-spacing: -0.06px;
            padding-bottom: 10px;
            padding-top: 10px;
        }
    }
}

.single-content::after {
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
    height: 1px;
    position: absolute;
    left: 20px;
    bottom: 0;
    content: "";
    opacity: .6;
}

.single-content p {
    font-weight: 500;
}

.single-content p:last-child {
    margin-bottom: 0;
}

.single-content i {
    font-style: italic;
}

.single-content img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

.about {
    margin-bottom: 10px;

    span {
        color: green;
    }
}

.send_file {
    text-align: center;
    border: 1px solid black;

}

.content_container {
    background-color: transparent;

    padding-top: 10px;
}

.backstretch {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -99999;
    top: 0;

    img {
        height: 100%;
        width: 100%;
    }
}

.container-meta {
    padding: 0 !important;

}




.qodef-normal-space .qodef-outer-space .qodef-item-space {
    padding: 0 15px;
    margin: 0 0 30px;
}


@media (max-width: 1200px) {
    .button-wrapper{
        button{
            font-size: 14px;
        }
    }
    .news{
        &-content{
            .news-image{
                img{
                    width: 140px;
                    height: 100%;
                }
            }
            .news-about{
                .date{
                    svg{
                        height: 20px;
                        width: 20px;
                    }
                    span{
                        font-size: 14px
                    };
                }
                .news-title{
                    font-size: 16px;
                }
                .news-desc{
                    font-size: 12px;
                }
                
            }
        }
    }
    .nav-logo{
        height: 100px;
        width: 100px;
    }
    .single-content2{
        iframe{
            height: 500px;
        }
    }
    .main-swiper{
        height: 450px;
    }
    .title{
        font-size: 16px;
    }
    .popular{
        a{
            height: 250px;
            .maqola{
                h3{
                    p{
                    -webkit-line-clamp: 6;
                    font-size: 16px;
                    }
                }
                .text-desc{
                    -webkit-line-clamp: 3;
                    font-size: 12px!important;
                }
            }
        }
    }
    .last_posts__img{
        width: 40%;
    }

    .last_posts__content{
        width: 60%;
        padding: 24px 24px;
    }

    .last_posts__title {
        font-size: 20px;
        margin-bottom: 14px;
    }
    .last_posts__description{
        .desc{
            font-size: 14px;
        }
        .count{
            font-size: 14px;
        }
        .links-item img {
            width: 80px;
        }
    }
    .all{
        font-size: 14px;
    }
    .maqola{
        padding: 12px;
        height: 220px;
        h3{
            a{
            font-size: 16px;
            }
        }
        .text-desc{
            font-size: 12px!important;
        }
        span{
            font-size: 14px;
        }
        .flex2{

            svg{
                height: 20px!important;
                width: 20px!important;
            }
        }
    }
    
   

}

@media (max-width: 991px) {

    .button-cover {
        button {
            border-radius: 12px;
            background-color: #0d6efd;
            color: var(--white);
            padding: 4px 10px;
            margin-bottom: 8px;
            min-width: 160px;
            font-size: 14px;
        }
    }
    .maqola{
        height: 200px;
        h3{
            a{
                font-size: 16px;
            }
        }
    }

    .nav-logo{
        height: 100px;
        width: 100px;
    }
    .main-swiper{
        height: 450px;
    }
    .custom-nav {
        &-content{
            flex-wrap: wrap;
        }
        .custom-nav-item{
            width: 100%;
            .form-cover{
                width: 100%;
            }
        }
    }

    .mainscreen_div {
        div {
            font-size: 12px;
            max-width: 600px;
        }
    }

    .last_posts__description {
        font-size: 12px;
    }

    .last_posts__title {
        font-size: 18px;
    }

    .main_editor {
        div {
            height: 130px;

            img {
                display: block;
                margin: 0px auto;
                height: 100%;
            }
        }

        a {
            color: white;
            font-size: 12px;
        }
    }

    .title {
        font-size: 16px;
    }

    .all {
        font-size: 12px;
    }

    .links {
        font-size: 12px;
    }

    .popular {
        a {
            font-size: 12px;
        }
    }

    .footer_titles {
        font-size: 14px;
    }

    .footer_data {
        font-size: 12px;
    }

    .single-header__title {
        font-size: 22px;
    }

    .single-content {
        span {
            font-size: 18px;
        }
    }

}

@media (max-width: 767px) {
    .single-content2{
        height: 350px;
    }
    .nav-logo{
        height: 80px;
        width: 80px;
    }
    .main-swiper{
        height: 400px;
    }
    .last_posts__description .links-item img {
        width: 64px;
    }

    .last_posts__img {
        width: 60%;
        padding: 20px 12px;
    }

    .last_posts__description p {
        font-size: 12px;
    }

    .news-meta span {
        font-size: 12px;
    }

    .last_posts__content {
        padding: 24px 20px;
        width: 70%;
    }

    .custom-nav .form-cover {
        width: 100%;
    }

    .mainscreen_div {
        color: white;
        opacity: 1;
        z-index: 100;
        position: relative;
        text-align: center;
        top: 150px;

        div {
            font-size: 10px;
            max-width: 500px;
            margin: 0px auto;
        }
    }

    .last_posts__description {
        font-size: 10px;
    }

    .last_posts__title {
        font-size: 12px;
    }

    td,
    th {
        font-size: 10px;
    }

    .single-header__title {
        font-size: 18px;
    }

    .single-content {
        span {
            font-size: 14px;
        }
    }

    .card_price {
        span {
            text-align: left;
            float: left;
        }
    }

    .card_about {
        span {
            color: black;
            font-size: 12px;
        }
    }

}

@media (max-width: 450px) {


    .button-wrapper{
        button{
            font-size: 12px;
        }
    }
    .news{
        &-content{
            .news-image{
                img{
                    width: 100px;
                    height: 100%;
                }
            }
            .news-about{
                padding: 16px 16px 0px 16px;
                .date{
                    svg{
                        height: 20px;
                        width: 20px;
                    }
                    span{
                        font-size: 14px
                    };
                }
                .news-title{
                    font-size: 14px;
                }
                .news-desc{
                    font-size: 10px;
                }
                
            }
        }
    }
    .maqola{
        height: 180px;
    }

    .popular{
        a{
            height: 230px;
        }
    }

    .nav-logo{
        width: 60px;
        height: 60px;
    }
    .main-swiper{
        height: 250px;
    }
    .form-panel {
        padding: 60px 16px;
     }
    .last_posts__description {
        display: none;
    }

    .last_posts__content {
        padding: 24px 20px;
        width: 70%;
    }

    .last_posts__img {
        width: 45%;
        padding: 20px 16px;
    }

    .my_footer .footer__links a {
        font-size: 12px;
    }

    .my_footer .footer__links strong {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .my_footer {
        margin-top: 5px;
        padding-top: 16px;
        padding-bottom: 20px;
    }

    .custom-nav{
        &-content{
            .custom-nav-item{
                p{
                    font-size: 14px;
                }
            }
            .form-cover {
                width: 100%;
                min-width: 200px;
                input{
                    padding: 0 10px;
                }
            }
        }  
    } 


    .nav-custom-item a {
        font-size: 14px;
    }

    .partners .partners__list .partner__item .partner__img {
        width: 100px;
    }

    .title_2 {
        font-size: 16px;
    }

    .subjects h4 {
        font-size: 16px;
    }
}
